<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gotrue-csharp" version="2.3.5" />
  <package id="MimeMapping" version="1.0.1.37" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="postgrest-csharp" version="2.0.6" />
  <package id="realtime-csharp" version="2.0.8" />
  <package id="supabase-csharp" version="0.3.1" />
  <package id="supabase-storage-csharp" version="1.0.1" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" />
</packages>