<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gotrue-csharp" version="2.3.6" />
  <package id="MimeMapping" version="1.0.1.37" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="postgrest-csharp" version="2.0.6" />
  <package id="realtime-csharp" version="3.0.0" />
  <package id="supabase-csharp" version="0.3.3" />
  <package id="supabase-storage-csharp" version="1.0.2" />
  <package id="System.Reactive" version="4.3.2" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" />
  <package id="System.Threading.Channels" version="4.7.0" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" />
  <package id="Websocket.Client" version="4.4.43" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" />
</packages>